n8n-JSON/2-return-equipment.json
{
  "name": "2 - คืนอุปกรณ์ (Return Equipment)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "return",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "webhook-return",
      "name": "Webhook - Return",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "return"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "borrowId", "name": "borrowId", "value": "={{ $json.body.borrowId }}", "type": "string" }
          ]
        }
      },
      "id": "edit-fields-return",
      "name": "Edit Fields - รับรหัสยืม",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [470, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "mode": "list", "value": "" },
        "sheetName": { "__rl": true, "mode": "list", "value": "รายการยืม" },
        "options": {}
      },
      "id": "read-borrow-log",
      "name": "Read รายการยืม Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [690, 300],
      "credentials": { "googleSheetsOAuth2Api": { "id": "", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "jsCode": "// ค้นหารายการยืมที่ตรงกับ borrowId + สถานะ = ยืมอยู่ หรือ เกินกำหนด\nconst allItems = $input.all();\nconst borrowId = $('Edit Fields - รับรหัสยืม').first().json.borrowId;\n\nfor (const item of allItems) {\n  if (item.json['รหัสยืม'] === borrowId && (item.json['สถานะ'] === 'ยืมอยู่' || item.json['สถานะ'] === 'เกินกำหนด')) {\n    return [{\n      json: {\n        found: true,\n        รหัสยืม: item.json['รหัสยืม'],\n        ชื่อผู้ยืม: item.json['ชื่อผู้ยืม'],\n        Email: item.json['Email'],\n        อุปกรณ์: item.json['อุปกรณ์'],\n        'รหัสนศ.': item.json['รหัสนศ.'],\n        วันที่ยืม: item.json['วันที่ยืม'],\n        กำหนดคืน: item.json['กำหนดคืน'],\n        สถานะ: item.json['สถานะ']\n      }\n    }];\n  }\n}\n\n// ไม่พบรายการที่ตรงกัน\nreturn [{ json: { found: false } }];"
      },
      "id": "code-find-record",
      "name": "Code - ค้นหารายการยืม",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-found",
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-found",
      "name": "IF - พบรายการ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "save-borrowId", "name": "savedBorrowId", "value": "={{ $json['รหัสยืม'] }}", "type": "string" },
            { "id": "save-name", "name": "savedName", "value": "={{ $json['ชื่อผู้ยืม'] }}", "type": "string" },
            { "id": "save-email", "name": "savedEmail", "value": "={{ $json['Email'] }}", "type": "string" },
            { "id": "save-equipment", "name": "savedEquipmentId", "value": "={{ $json['อุปกรณ์'] }}", "type": "string" },
            { "id": "save-studentId", "name": "savedStudentId", "value": "={{ $json['รหัสนศ.'] }}", "type": "string" },
            { "id": "save-borrowrow", "name": "รหัสยืม", "value": "={{ $json['รหัสยืม'] }}", "type": "string" },
            { "id": "save-status", "name": "สถานะ", "value": "คืนแล้ว", "type": "string" },
            { "id": "save-returndate", "name": "วันที่คืน", "value": "={{ $now.format('yyyy-MM-dd') }}", "type": "string" }
          ]
        }
      },
      "id": "save-borrow-info",
      "name": "Save ข้อมูลผู้ยืม",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1350, 200]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "mode": "list", "value": "" },
        "sheetName": { "__rl": true, "mode": "list", "value": "รายการยืม" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "รหัสยืม": "={{ $json['รหัสยืม'] }}",
            "สถานะ": "คืนแล้ว",
            "วันที่คืน": "={{ $now.format('yyyy-MM-dd') }}"
          },
          "matchingColumns": ["รหัสยืม"]
        },
        "options": {}
      },
      "id": "update-borrow-status",
      "name": "Update รายการยืม - คืนแล้ว",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1570, 200],
      "credentials": { "googleSheetsOAuth2Api": { "id": "", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "mode": "list", "value": "" },
        "sheetName": { "__rl": true, "mode": "list", "value": "อุปกรณ์" },
        "options": {}
      },
      "id": "read-equipment-for-return",
      "name": "Read Equipment Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1790, 200],
      "credentials": { "googleSheetsOAuth2Api": { "id": "", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "match-equipment",
              "leftValue": "={{ $json['รหัสอุปกรณ์'] }}",
              "rightValue": "={{ $('Save ข้อมูลผู้ยืม').item.json.savedEquipmentId }}",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-equipment",
      "name": "Filter - หาอุปกรณ์ที่ตรงกัน",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [2010, 200]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "mode": "list", "value": "" },
        "sheetName": { "__rl": true, "mode": "list", "value": "อุปกรณ์" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "รหัสอุปกรณ์": "={{ $json['รหัสอุปกรณ์'] }}",
            "จำนวนคงเหลือ": "={{ Number($json['จำนวนคงเหลือ']) + 1 }}"
          },
          "matchingColumns": ["รหัสอุปกรณ์"]
        },
        "options": {}
      },
      "id": "update-stock-increase",
      "name": "Update Equipment - เพิ่มจำนวน",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2230, 200],
      "credentials": { "googleSheetsOAuth2Api": { "id": "", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Save ข้อมูลผู้ยืม').item.json.savedEmail }}",
        "subject": "=✅ คืนหนังสือสำเร็จ - {{ $('Save ข้อมูลผู้ยืม').item.json.savedBorrowId }}",
        "emailType": "html",
        "message": "=<div style='font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, sans-serif; max-width: 600px; margin: 0 auto; background: #ffffff; border-radius: 12px; overflow: hidden; border: 1px solid #e5e7eb;'><div style='background: linear-gradient(135deg, #34c759, #30d158); padding: 28px 32px; text-align: center;'><h1 style='color: #ffffff; margin: 0; font-size: 22px; font-weight: 700;'>✅ คืนหนังสือสำเร็จ</h1></div><div style='padding: 28px 32px;'><p style='font-size: 16px; color: #1d1d1f; margin: 0 0 20px;'>สวัสดีคุณ <strong>{{ $('Save ข้อมูลผู้ยืม').item.json.savedName }}</strong></p><p style='font-size: 14px; color: #6e6e73; margin: 0 0 24px;'>คืนหนังสือเรียบร้อยแล้ว! ระบบได้อัปเดตสต็อกและบันทึกข้อมูลเข้าระบบแล้ว</p><div style='background: #f5f5f7; border-radius: 10px; padding: 20px; margin-bottom: 24px;'><h3 style='margin: 0 0 14px; color: #1d1d1f; font-size: 14px;'>📋 รายละเอียดการคืน</h3><table style='width: 100%; border-collapse: collapse; font-size: 14px;'><tr><td style='padding: 8px 0; color: #6e6e73; width: 120px;'>รหัสยืม</td><td style='padding: 8px 0; color: #007aff; font-weight: 600;'>{{ $('Save ข้อมูลผู้ยืม').item.json.savedBorrowId }}</td></tr><tr><td style='padding: 8px 0; color: #6e6e73;'>รหัสอุปกรณ์</td><td style='padding: 8px 0; font-weight: 500;'>{{ $('Save ข้อมูลผู้ยืม').item.json.savedEquipmentId }}</td></tr><tr><td style='padding: 8px 0; color: #6e6e73;'>หนังสือ</td><td style='padding: 8px 0; font-weight: 500;'>{{ $json['ชื่ออุปกรณ์'] }}</td></tr><tr><td style='padding: 8px 0; color: #6e6e73;'>วันที่คืน</td><td style='padding: 8px 0; font-weight: 500;'>{{ $now.format('yyyy-MM-dd') }}</td></tr></table></div><p style='font-size: 13px; color: #6e6e73; margin: 0;'>ขอบคุณที่ใช้บริการ 📚</p></div><div style='background: #f5f5f7; padding: 16px 32px; text-align: center; border-top: 1px solid #e5e7eb;'><p style='margin: 0; font-size: 12px; color: #8e8e93;'>Smart Lending System — ระบบยืม-คืนหนังสืออัตโนมัติ</p></div></div>",
        "options": {}
      },
      "id": "send-email-return",
      "name": "Send Email - ยืนยันคืน",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2450, 200],
      "credentials": { "gmailOAuth2": { "id": "", "name": "Gmail" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"คืนหนังสือสำเร็จ! ระบบอัปเดตสต็อกและส่ง Email ยืนยันแล้ว\" }",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "respond-return-success",
      "name": "Respond - คืนสำเร็จ",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2670, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"message\": \"ไม่พบรหัสยืมนี้ หรือหนังสือถูกคืนแล้ว\" }",
        "options": {
          "responseCode": 404,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "respond-return-fail",
      "name": "Respond - ไม่เจอรหัสยืม",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1350, 420]
    }
  ],
  "connections": {
    "Webhook - Return": { "main": [[{ "node": "Edit Fields - รับรหัสยืม", "type": "main", "index": 0 }]] },
    "Edit Fields - รับรหัสยืม": { "main": [[{ "node": "Read รายการยืม Sheet", "type": "main", "index": 0 }]] },
    "Read รายการยืม Sheet": { "main": [[{ "node": "Code - ค้นหารายการยืม", "type": "main", "index": 0 }]] },
    "Code - ค้นหารายการยืม": { "main": [[{ "node": "IF - พบรายการ?", "type": "main", "index": 0 }]] },
    "IF - พบรายการ?": {
      "main": [
        [{ "node": "Save ข้อมูลผู้ยืม", "type": "main", "index": 0 }],
        [{ "node": "Respond - ไม่เจอรหัสยืม", "type": "main", "index": 0 }]
      ]
    },
    "Save ข้อมูลผู้ยืม": { "main": [[{ "node": "Update รายการยืม - คืนแล้ว", "type": "main", "index": 0 }]] },
    "Update รายการยืม - คืนแล้ว": { "main": [[{ "node": "Read Equipment Sheet", "type": "main", "index": 0 }]] },
    "Read Equipment Sheet": { "main": [[{ "node": "Filter - หาอุปกรณ์ที่ตรงกัน", "type": "main", "index": 0 }]] },
    "Filter - หาอุปกรณ์ที่ตรงกัน": { "main": [[{ "node": "Update Equipment - เพิ่มจำนวน", "type": "main", "index": 0 }]] },
    "Update Equipment - เพิ่มจำนวน": { "main": [[{ "node": "Send Email - ยืนยันคืน", "type": "main", "index": 0 }]] },
    "Send Email - ยืนยันคืน": { "main": [[{ "node": "Respond - คืนสำเร็จ", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "Equipment Lending" }],
  "triggerCount": 0,
  "updatedAt": "2026-04-10T00:00:00.000Z",
  "versionId": "4"
}
