n8n-JSON/2-return-equipment.json
{
  "name": "2 - คืนอุปกรณ์ (Return Equipment)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "return",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "webhook-return",
      "name": "Webhook - Return",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "return"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "borrowId", "name": "borrowId", "value": "={{ $json.body.borrowId }}", "type": "string" }
          ]
        }
      },
      "id": "edit-fields-return",
      "name": "Edit Fields - รับรหัสยืม",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [470, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "mode": "list", "value": "" },
        "sheetName": { "__rl": true, "mode": "list", "value": "รายการยืม" },
        "options": {}
      },
      "id": "read-borrow-log",
      "name": "Read รายการยืม Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [690, 300],
      "credentials": { "googleSheetsOAuth2Api": { "id": "", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "find-record",
              "leftValue": "={{ $json['รหัสยืม'] }}",
              "rightValue": "={{ $('Edit Fields - รับรหัสยืม').item.json.borrowId }}",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "id": "check-status",
              "leftValue": "={{ $json['สถานะ'] }}",
              "rightValue": "ยืมอยู่",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-found",
      "name": "IF - เจอรหัสยืม + สถานะ=ยืมอยู่",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "save-borrowId", "name": "savedBorrowId", "value": "={{ $json['รหัสยืม'] }}", "type": "string" },
            { "id": "save-name", "name": "savedName", "value": "={{ $json['ชื่อผู้ยืม'] }}", "type": "string" },
            { "id": "save-email", "name": "savedEmail", "value": "={{ $json['Email'] }}", "type": "string" },
            { "id": "save-equipment", "name": "savedEquipmentId", "value": "={{ $json['อุปกรณ์'] }}", "type": "string" },
            { "id": "save-studentId", "name": "savedStudentId", "value": "={{ $json['รหัสนศ.'] }}", "type": "string" },
            { "id": "save-borrowrow", "name": "รหัสยืม", "value": "={{ $json['รหัสยืม'] }}", "type": "string" },
            { "id": "save-status", "name": "สถานะ", "value": "คืนแล้ว", "type": "string" },
            { "id": "save-returndate", "name": "วันที่คืน", "value": "={{ $now.format('yyyy-MM-dd') }}", "type": "string" }
          ]
        }
      },
      "id": "save-borrow-info",
      "name": "Save ข้อมูลผู้ยืม",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "mode": "list", "value": "" },
        "sheetName": { "__rl": true, "mode": "list", "value": "รายการยืม" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "รหัสยืม": "={{ $json['รหัสยืม'] }}",
            "สถานะ": "คืนแล้ว",
            "วันที่คืน": "={{ $now.format('yyyy-MM-dd') }}"
          },
          "matchingColumns": ["รหัสยืม"]
        },
        "options": {}
      },
      "id": "update-borrow-status",
      "name": "Update รายการยืม - คืนแล้ว",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1350, 200],
      "credentials": { "googleSheetsOAuth2Api": { "id": "", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "mode": "list", "value": "" },
        "sheetName": { "__rl": true, "mode": "list", "value": "อุปกรณ์" },
        "options": {}
      },
      "id": "read-equipment-for-return",
      "name": "Read Equipment Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1570, 200],
      "credentials": { "googleSheetsOAuth2Api": { "id": "", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "match-equipment",
              "leftValue": "={{ $json['รหัสอุปกรณ์'] }}",
              "rightValue": "={{ $('Save ข้อมูลผู้ยืม').item.json.savedEquipmentId }}",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-equipment",
      "name": "Filter - หาอุปกรณ์ที่ตรงกัน",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1790, 200]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "mode": "list", "value": "" },
        "sheetName": { "__rl": true, "mode": "list", "value": "อุปกรณ์" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "รหัสอุปกรณ์": "={{ $json['รหัสอุปกรณ์'] }}",
            "จำนวนคงเหลือ": "={{ Number($json['จำนวนคงเหลือ']) + 1 }}"
          },
          "matchingColumns": ["รหัสอุปกรณ์"]
        },
        "options": {}
      },
      "id": "update-stock-increase",
      "name": "Update Equipment - เพิ่มจำนวน",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2010, 200],
      "credentials": { "googleSheetsOAuth2Api": { "id": "", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Save ข้อมูลผู้ยืม').item.json.savedEmail }}",
        "subject": "=✅ คืนหนังสือสำเร็จ - {{ $('Save ข้อมูลผู้ยืม').item.json.savedBorrowId }}",
        "message": "=สวัสดีคุณ {{ $('Save ข้อมูลผู้ยืม').item.json.savedName }}\n\nคืนหนังสือสำเร็จแล้ว!\n\n📋 รายละเอียด:\n- รหัสยืม: {{ $('Save ข้อมูลผู้ยืม').item.json.savedBorrowId }}\n- รหัสอุปกรณ์: {{ $('Save ข้อมูลผู้ยืม').item.json.savedEquipmentId }}\n- หนังสือ: {{ $json['ชื่ออุปกรณ์'] }}\n- วันที่คืน: {{ $now.format('yyyy-MM-dd') }}\n\nขอบคุณที่ใช้บริการ\nSmart Lending System",
        "options": {}
      },
      "id": "send-email-return",
      "name": "Send Email - ยืนยันคืน",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2230, 200],
      "credentials": { "gmailOAuth2": { "id": "", "name": "Gmail" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"คืนหนังสือสำเร็จ! ระบบอัปเดตสต็อกและส่ง Email ยืนยันแล้ว\" }",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "respond-return-success",
      "name": "Respond - คืนสำเร็จ",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2450, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"message\": \"ไม่พบรหัสยืมนี้ หรือหนังสือถูกคืนแล้ว\" }",
        "options": {
          "responseCode": 404,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "respond-return-fail",
      "name": "Respond - ไม่เจอรหัสยืม",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1130, 420]
    }
  ],
  "connections": {
    "Webhook - Return": { "main": [[{ "node": "Edit Fields - รับรหัสยืม", "type": "main", "index": 0 }]] },
    "Edit Fields - รับรหัสยืม": { "main": [[{ "node": "Read รายการยืม Sheet", "type": "main", "index": 0 }]] },
    "Read รายการยืม Sheet": { "main": [[{ "node": "IF - เจอรหัสยืม + สถานะ=ยืมอยู่", "type": "main", "index": 0 }]] },
    "IF - เจอรหัสยืม + สถานะ=ยืมอยู่": {
      "main": [
        [{ "node": "Save ข้อมูลผู้ยืม", "type": "main", "index": 0 }],
        [{ "node": "Respond - ไม่เจอรหัสยืม", "type": "main", "index": 0 }]
      ]
    },
    "Save ข้อมูลผู้ยืม": { "main": [[{ "node": "Update รายการยืม - คืนแล้ว", "type": "main", "index": 0 }]] },
    "Update รายการยืม - คืนแล้ว": { "main": [[{ "node": "Read Equipment Sheet", "type": "main", "index": 0 }]] },
    "Read Equipment Sheet": { "main": [[{ "node": "Filter - หาอุปกรณ์ที่ตรงกัน", "type": "main", "index": 0 }]] },
    "Filter - หาอุปกรณ์ที่ตรงกัน": { "main": [[{ "node": "Update Equipment - เพิ่มจำนวน", "type": "main", "index": 0 }]] },
    "Update Equipment - เพิ่มจำนวน": { "main": [[{ "node": "Send Email - ยืนยันคืน", "type": "main", "index": 0 }]] },
    "Send Email - ยืนยันคืน": { "main": [[{ "node": "Respond - คืนสำเร็จ", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "Equipment Lending" }],
  "triggerCount": 0,
  "updatedAt": "2026-04-10T00:00:00.000Z",
  "versionId": "3"
}
