n8n-JSON/5-overdue-alert.json
{
  "name": "5 - แจ้งเตือนเกินกำหนด (Overdue Alert)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule - ทุกวัน 8:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "mode": "list", "value": "" },
        "sheetName": { "__rl": true, "mode": "list", "value": "รายการยืม" },
        "options": {}
      },
      "id": "read-borrow-for-overdue",
      "name": "Read รายการยืม Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [470, 300],
      "credentials": { "googleSheetsOAuth2Api": { "id": "", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "status-check",
              "leftValue": "={{ $json['สถานะ'] }}",
              "rightValue": "ยืมอยู่",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "id": "date-check",
              "leftValue": "={{ $json['กำหนดคืน'] }}",
              "rightValue": "={{ $now.format('yyyy-MM-dd') }}",
              "operator": { "type": "string", "operation": "lt" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-overdue",
      "name": "Filter - เกินกำหนดคืน",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-items",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": "0",
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-has-overdue",
      "name": "IF - มีรายการเกินกำหนด",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=⚠️ แจ้งเตือน: อุปกรณ์เกินกำหนดคืน - {{ $json['รหัสยืม'] }}",
        "message": "=สวัสดีคุณ {{ $json.ชื่อผู้ยืม }}\n\n⚠️ อุปกรณ์ที่คุณยืมเกินกำหนดคืนแล้ว!\n\n📋 รายละเอียด:\n- รหัสยืม: {{ $json['รหัสยืม'] }}\n- อุปกรณ์: {{ $json['อุปกรณ์'] }}\n- วันที่ยืม: {{ $json['วันที่ยืม'] }}\n- กำหนดคืน: {{ $json['กำหนดคืน'] }}\n\n❗ กรุณาคืนอุปกรณ์โดยเร็วที่สุด\n\nขอบคุณครับ/ค่ะ\nSmart Equipment Lending System",
        "options": {}
      },
      "id": "send-email-overdue",
      "name": "Send Email - เตือนผู้ยืม",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1130, 200],
      "credentials": { "gmailOAuth2": { "id": "", "name": "Gmail" } }
    },
    {
      "parameters": {
        "sendTo": "mrkoonking@gmail.com",
        "subject": "=📊 สรุปรายการเกินกำหนดคืน - {{ $now.format('yyyy-MM-dd') }}",
        "message": "=รายงานสรุปรายการเกินกำหนดคืนประจำวัน\n\nวันที่: {{ $now.format('yyyy-MM-dd') }}\nจำนวนรายการเกินกำหนด: {{ $input.all().length }} รายการ\n\n📋 รายละเอียด:\n{{ $input.all().map(item => '- ' + item.json['รหัสยืม'] + ' | ' + item.json.ชื่อผู้ยืม + ' | ' + item.json['อุปกรณ์'] + ' | กำหนดคืน: ' + item.json['กำหนดคืน']).join('\\n') }}\n\n---\nSmart Equipment Lending System",
        "options": {}
      },
      "id": "send-email-admin",
      "name": "Send Email - สรุปให้ Admin",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1350, 200],
      "credentials": { "gmailOAuth2": { "id": "", "name": "Gmail" } }
    },
    {
      "parameters": {},
      "id": "no-operation",
      "name": "No Operation",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1130, 420]
    }
  ],
  "connections": {
    "Schedule - ทุกวัน 8:00": { "main": [[{ "node": "Read รายการยืม Sheet", "type": "main", "index": 0 }]] },
    "Read รายการยืม Sheet": { "main": [[{ "node": "Filter - เกินกำหนดคืน", "type": "main", "index": 0 }]] },
    "Filter - เกินกำหนดคืน": { "main": [[{ "node": "IF - มีรายการเกินกำหนด", "type": "main", "index": 0 }]] },
    "IF - มีรายการเกินกำหนด": {
      "main": [
        [{ "node": "Send Email - เตือนผู้ยืม", "type": "main", "index": 0 }],
        [{ "node": "No Operation", "type": "main", "index": 0 }]
      ]
    },
    "Send Email - เตือนผู้ยืม": { "main": [[{ "node": "Send Email - สรุปให้ Admin", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "Equipment Lending" }],
  "triggerCount": 0,
  "updatedAt": "2026-04-07T00:00:00.000Z",
  "versionId": "1"
}
