n8n-JSON/all-in-one-workflow.json
{
  "name": "Equipment Lending - All-in-One",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "borrow",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "456299c1-0060-4725-8ca3-623f425aed9f",
      "name": "Webhook - Borrow",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1072,
        -320
      ],
      "webhookId": "borrow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "equipmentId",
              "name": "equipmentId",
              "value": "={{ $json.body.equipmentId }}",
              "type": "string"
            },
            {
              "id": "studentId",
              "name": "studentId",
              "value": "={{ $json.body.studentId }}",
              "type": "string"
            },
            {
              "id": "name",
              "name": "name",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "email",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "faculty",
              "name": "faculty",
              "value": "={{ $json.body.faculty }}",
              "type": "string"
            },
            {
              "id": "returnDate",
              "name": "returnDate",
              "value": "={{ $json.body.returnDate }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "87b31a09-641a-4e82-bd32-6b3eab71e84a",
      "name": "Edit Fields - รับข้อมูลยืม",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        -320
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hLqygTmPd9iOV98btAtH2c9rnmxW2wQvXqMiKnhiTwk",
          "mode": "list",
          "cachedResultName": "Smart Equipment Lending - Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hLqygTmPd9iOV98btAtH2c9rnmxW2wQvXqMiKnhiTwk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "อุปกรณ์",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hLqygTmPd9iOV98btAtH2c9rnmxW2wQvXqMiKnhiTwk/edit#gid=0"
        },
        "options": {}
      },
      "id": "a8e66d81-7c21-41f3-9f20-9095fb6828ab",
      "name": "Read Equipment Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1504,
        -320
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CA7OsxCOPdSikM1Y",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allEquipment = $input.all();\nconst equipmentId = $('Edit Fields - รับข้อมูลยืม').first().json.equipmentId;\n\nfor (const item of allEquipment) {\n  if (item.json['รหัสอุปกรณ์'] === equipmentId) {\n    const remaining = Number(item.json['จำนวนคงเหลือ'] || 0);\n    return [{\n      json: {\n        found: true,\n        hasStock: remaining > 0,\n        'รหัสอุปกรณ์': item.json['รหัสอุปกรณ์'],\n        'ชื่ออุปกรณ์': item.json['ชื่ออุปกรณ์'],\n        'จำนวนคงเหลือ': remaining,\n        'จำนวนทั้งหมด': Number(item.json['จำนวนทั้งหมด'] || 0)\n      }\n    }];\n  }\n}\nreturn [{ json: { found: false, hasStock: false } }];"
      },
      "id": "9f248b0b-191c-4ea5-aea4-6387e6df8b54",
      "name": "Code - ค้นหาอุปกรณ์",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        -320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "stock-check",
              "leftValue": "={{ $json.hasStock }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "35b0c736-a8c6-4e62-a85b-b0469b9b8935",
      "name": "IF - ตรวจสอบสต็อก",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1952,
        -320
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hLqygTmPd9iOV98btAtH2c9rnmxW2wQvXqMiKnhiTwk",
          "mode": "list",
          "cachedResultName": "Smart Equipment Lending - Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hLqygTmPd9iOV98btAtH2c9rnmxW2wQvXqMiKnhiTwk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1747542314,
          "mode": "list",
          "cachedResultName": "รายการยืม",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hLqygTmPd9iOV98btAtH2c9rnmxW2wQvXqMiKnhiTwk/edit#gid=1747542314"
        },
        "options": {}
      },
      "id": "7a239d95-68db-4b71-8d5d-5eee9566105d",
      "name": "Read รายการยืม - นับจำนวน",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2160,
        -416
      ],
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CA7OsxCOPdSikM1Y",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allRecords = $input.all();\nconst now = new Date();\nconst year = now.getFullYear();\nconst month = String(now.getMonth() + 1).padStart(2, '0');\nconst day = String(now.getDate()).padStart(2, '0');\nlet maxNum = 0;\n\nfor (const item of allRecords) {\n  const id = item.json['รหัสยืม'] || '';\n  const match = id.match(/^BR\\d{4}-(\\d{5})$/);\n  if (match) {\n    const num = parseInt(match[1]);\n    if (num > maxNum) maxNum = num;\n  }\n}\n\nconst nextNum = maxNum + 1;\nconst borrowId = 'BR' + year + '-' + String(nextNum).padStart(5, '0');\n\nreturn [{\n  json: {\n    borrowId: borrowId,\n    borrowDate: year + '-' + month + '-' + day\n  }\n}];\n"
      },
      "id": "7cf79676-8c34-4e9e-8190-aa32f2505040",
      "name": "สร้างรหัสยืม",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2384,
        -416
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1hLqygTmPd9iOV98btAtH2c9rnmxW2wQvXqMiKnhiTwk",
          "mode": "list",
          "cachedResultName": "Smart Equipment Lending - Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hLqygTmPd9iOV98btAtH2c9rnmxW2wQvXqMiKnhiTwk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1747542314,
          "mode": "list",
          "cachedResultName": "รายการยืม",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hLqygTmPd9iOV98btAtH2c9rnmxW2wQvXqMiKnhiTwk/edit#gid=1747542314"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "รหัสยืม": "={{ $json.borrowId }}",
            "รหัสนศ.": "={{ $('Edit Fields - รับข้อมูลยืม').item.json.studentId }}",
            "ชื่อผู้ยืม": "={{ $('Edit Fields - รับข้อมูลยืม').item.json.name }}",
            "Email": "={{ $('Edit Fields - รับข้อมูลยืม').item.json.email }}",
            "อุปกรณ์": "={{ $('Edit Fields - รับข้อมูลยืม').item.json.equipmentId }}",
            "วันที่ยืม": "={{ $json.borrowDate }}",
            "กำหนดคืน": "={{ $('Edit Fields - รับข้อมูลยืม').item.json.returnDate }}",
            "สถานะ": "ยืมอยู่",
            "วันที่คืน": "-"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "รหัสยืม",
              "displayName": "รหัสยืม",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "รหัสนศ.",
              "displayName": "รหัสนศ.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ชื่อผู้ยืม",
              "displayName": "ชื่อผู้ยืม",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "อุปกรณ์",
              "displayName": "อุปกรณ์",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "วันที่ยืม",
              "displayName": "วันที่ยืม",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "กำหนดคืน",
              "displayName": "กำหนดคืน",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "สถานะ",
              "displayName": "สถานะ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "วันที่คืน",
              "displayName": "วันที่คืน",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "1db7dfcc-1d27-4ed9-a4b3-a016a583786c",
      "name": "Append to รายการยืม",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2608,
        -416
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CA7OsxCOPdSikM1Y",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1hLqygTmPd9iOV98btAtH2c9rnmxW2wQvXqMiKnhiTwk",
          "mode": "list",
          "cachedResultName": "Smart Equipment Lending - Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hLqygTmPd9iOV98btAtH2c9rnmxW2wQvXqMiKnhiTwk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "อุปกรณ์",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hLqygTmPd9iOV98btAtH2c9rnmxW2wQvXqMiKnhiTwk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "รหัสอุปกรณ์": "={{ $('Code - ค้นหาอุปกรณ์').item.json['รหัสอุปกรณ์'] }}",
            "จำนวนคงเหลือ": "={{ $('Code - ค้นหาอุปกรณ์').item.json['จำนวนคงเหลือ'] - 1 }}",
            "row_number": 0
          },
          "matchingColumns": [
            "รหัสอุปกรณ์"
          ],
          "schema": [
            {
              "id": "รหัสอุปกรณ์",
              "displayName": "รหัสอุปกรณ์",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ชื่ออุปกรณ์",
              "displayName": "ชื่ออุปกรณ์",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "หมวดหมู่",
              "displayName": "หมวดหมู่",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "จำนวนทั้งหมด",
              "displayName": "จำนวนทั้งหมด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "จำนวนคงเหลือ",
              "displayName": "จำนวนคงเหลือ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "สถานะ",
              "displayName": "สถานะ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "55a295f2-c646-43ca-b8a8-5586bbff4172",
      "name": "Update Equipment - ลดจำนวน",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2832,
        -416
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CA7OsxCOPdSikM1Y",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Edit Fields - รับข้อมูลยืม').item.json.email }}",
        "subject": "=📚 ยืนยันการยืมหนังสือ - {{ $('สร้างรหัสยืม').item.json.borrowId }}",
        "message": "=<div style='font-family:sans-serif;max-width:600px;margin:0 auto;background:#fff;border-radius:12px;overflow:hidden;border:1px solid #e5e7eb'><div style='background-color:#007aff;padding:28px 32px;text-align:center'><h1 style='color:#fff;margin:0;font-size:22px'>📚 ยืนยันการยืมหนังสือ</h1></div><div style='padding:28px 32px'><p style='font-size:16px;color:#1d1d1f;margin:0 0 20px'>สวัสดีคุณ <strong>{{ $('Edit Fields - รับข้อมูลยืม').item.json.name }}</strong></p><div style='background:#f5f5f7;border-radius:10px;padding:20px;margin-bottom:24px'><table style='width:100%;font-size:14px'><tr><td style='padding:8px 0;color:#6e6e73'>รหัสยืม</td><td style='padding:8px 0;color:#007aff;font-weight:600'>{{ $('สร้างรหัสยืม').item.json.borrowId }}</td></tr><tr><td style='padding:8px 0;color:#6e6e73'>หนังสือ</td><td style='padding:8px 0'>{{ $('Code - ค้นหาอุปกรณ์').item.json['ชื่ออุปกรณ์'] }}</td></tr><tr><td style='padding:8px 0;color:#6e6e73'>วันที่ยืม</td><td style='padding:8px 0'>{{ $('สร้างรหัสยืม').item.json.borrowDate }}</td></tr><tr><td style='padding:8px 0;color:#6e6e73'>กำหนดคืน</td><td style='padding:8px 0;color:#ff3b30;font-weight:600'>{{ $('Edit Fields - รับข้อมูลยืม').item.json.returnDate }}</td></tr></table></div><div style='background:#fff3cd;border-radius:8px;padding:14px 16px'><p style='margin:0;font-size:13px;color:#856404'>⚠️ กรุณาคืนหนังสือภายในวันกำหนดคืน</p></div></div><div style='background:#f5f5f7;padding:16px 32px;text-align:center;border-top:1px solid #e5e7eb'><p style='margin:0;font-size:12px;color:#8e8e93'>Smart Lending System</p></div></div>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "00570b4f-fbdd-44cd-afd8-23b4a5f0ed14",
      "name": "Send Email - ยืนยันยืม",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3040,
        -416
      ],
      "webhookId": "ccc4c731-8a60-4ea0-b050-5b31e4d4f2a0",
      "credentials": {
        "gmailOAuth2": {
          "id": "Id6o5jh4IB1t2Knx",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"borrowId\": \"{{ $('สร้างรหัสยืม').item.json.borrowId }}\", \"message\": \"ยืมสำเร็จ! รหัสยืม: {{ $('สร้างรหัสยืม').item.json.borrowId }}\" }",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "3b422279-871e-473f-88f0-3599b22899bf",
      "name": "Respond - สำเร็จ",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3264,
        -416
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"message\": \"อุปกรณ์หมด ไม่สามารถยืมได้\" }",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "0aebc01f-bf1e-49d4-ab4f-b48a36b1f12a",
      "name": "Respond - อุปกรณ์หมด",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2160,
        -160
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "return",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "36968e51-ae42-4ebd-9400-90be0c6e771f",
      "name": "Webhook - Return",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1072,
        96
      ],
      "webhookId": "return"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "borrowId",
              "name": "borrowId",
              "value": "={{ $json.body.borrowId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d54d9a2a-f7a0-44d2-90eb-6f5e5012e55e",
      "name": "Edit Fields - รับรหัสยืม",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        96
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hLqygTmPd9iOV98btAtH2c9rnmxW2wQvXqMiKnhiTwk",
          "mode": "list",
          "cachedResultName": "Smart Equipment Lending - Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hLqygTmPd9iOV98btAtH2c9rnmxW2wQvXqMiKnhiTwk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1747542314,
          "mode": "list",
          "cachedResultName": "รายการยืม",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hLqygTmPd9iOV98btAtH2c9rnmxW2wQvXqMiKnhiTwk/edit#gid=1747542314"
        },
        "options": {}
      },
      "id": "c6b9b38a-4537-402f-83af-2960029104a3",
      "name": "Read รายการยืม Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1504,
        96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CA7OsxCOPdSikM1Y",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst borrowId = $('Edit Fields - รับรหัสยืม').first().json.borrowId;\n\nfor (const item of allItems) {\n  if (item.json['รหัสยืม'] === borrowId && (item.json['สถานะ'] === 'ยืมอยู่' || item.json['สถานะ'] === 'เกินกำหนด')) {\n    return [{\n      json: {\n        found: true,\n        'รหัสยืม': item.json['รหัสยืม'],\n        'ชื่อผู้ยืม': item.json['ชื่อผู้ยืม'],\n        Email: item.json['Email'],\n        'อุปกรณ์': item.json['อุปกรณ์'],\n        'รหัสนศ.': item.json['รหัสนศ.'],\n        'วันที่ยืม': item.json['วันที่ยืม'],\n        'กำหนดคืน': item.json['กำหนดคืน'],\n        'สถานะ': item.json['สถานะ']\n      }\n    }];\n  }\n}\nreturn [{ json: { found: false } }];"
      },
      "id": "086ef1f9-b55d-4a73-a9be-e138e1bd9a9f",
      "name": "Code - ค้นหารายการยืม",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-found",
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5fdf1b66-699a-4895-a97b-d25abc2c2cd8",
      "name": "IF - พบรายการ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1952,
        96
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "save-borrowId",
              "name": "savedBorrowId",
              "value": "={{ $json['รหัสยืม'] }}",
              "type": "string"
            },
            {
              "id": "save-name",
              "name": "savedName",
              "value": "={{ $json['ชื่อผู้ยืม'] }}",
              "type": "string"
            },
            {
              "id": "save-email",
              "name": "savedEmail",
              "value": "={{ $json['Email'] }}",
              "type": "string"
            },
            {
              "id": "save-equipment",
              "name": "savedEquipmentId",
              "value": "={{ $json['อุปกรณ์'] }}",
              "type": "string"
            },
            {
              "id": "save-studentId",
              "name": "savedStudentId",
              "value": "={{ $json['รหัสนศ.'] }}",
              "type": "string"
            },
            {
              "id": "save-borrowrow",
              "name": "รหัสยืม",
              "value": "={{ $json['รหัสยืม'] }}",
              "type": "string"
            },
            {
              "id": "save-status",
              "name": "สถานะ",
              "value": "คืนแล้ว",
              "type": "string"
            },
            {
              "id": "save-returndate",
              "name": "วันที่คืน",
              "value": "={{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "069e04a5-e3e9-42a8-a83f-0aeb6e65d3f5",
      "name": "Save ข้อมูลผู้ยืม",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1hLqygTmPd9iOV98btAtH2c9rnmxW2wQvXqMiKnhiTwk",
          "mode": "list",
          "cachedResultName": "Smart Equipment Lending - Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hLqygTmPd9iOV98btAtH2c9rnmxW2wQvXqMiKnhiTwk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1747542314,
          "mode": "list",
          "cachedResultName": "รายการยืม",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hLqygTmPd9iOV98btAtH2c9rnmxW2wQvXqMiKnhiTwk/edit#gid=1747542314"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "รหัสยืม": "={{ $json['รหัสยืม'] }}",
            "สถานะ": "คืนแล้ว",
            "วันที่คืน": "={{ $now.format('yyyy-MM-dd') }}",
            "row_number": 0
          },
          "matchingColumns": [
            "รหัสยืม"
          ],
          "schema": [
            {
              "id": "รหัสยืม",
              "displayName": "รหัสยืม",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "รหัสนศ.",
              "displayName": "รหัสนศ.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ชื่อผู้ยืม",
              "displayName": "ชื่อผู้ยืม",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "อุปกรณ์",
              "displayName": "อุปกรณ์",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "วันที่ยืม",
              "displayName": "วันที่ยืม",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "กำหนดคืน",
              "displayName": "กำหนดคืน",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "สถานะ",
              "displayName": "สถานะ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "วันที่คืน",
              "displayName": "วันที่คืน",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a8354ac4-c898-4772-985e-c5981414af3c",
      "name": "Update รายการยืม - คืนแล้ว",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2384,
        -16
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CA7OsxCOPdSikM1Y",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hLqygTmPd9iOV98btAtH2c9rnmxW2wQvXqMiKnhiTwk",
          "mode": "list",
          "cachedResultName": "Smart Equipment Lending - Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hLqygTmPd9iOV98btAtH2c9rnmxW2wQvXqMiKnhiTwk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "อุปกรณ์",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hLqygTmPd9iOV98btAtH2c9rnmxW2wQvXqMiKnhiTwk/edit#gid=0"
        },
        "options": {}
      },
      "id": "9b9950b9-4932-4d9e-a868-0b604ee331f1",
      "name": "Read Equipment Sheet2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2608,
        -16
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CA7OsxCOPdSikM1Y",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "match-equipment",
              "leftValue": "={{ $json['รหัสอุปกรณ์'] }}",
              "rightValue": "={{ $('Save ข้อมูลผู้ยืม').item.json.savedEquipmentId }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3e7e915e-bf06-4397-90aa-7328341dd049",
      "name": "Filter - หาอุปกรณ์ที่ตรงกัน",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        2832,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1hLqygTmPd9iOV98btAtH2c9rnmxW2wQvXqMiKnhiTwk",
          "mode": "list",
          "cachedResultName": "Smart Equipment Lending - Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hLqygTmPd9iOV98btAtH2c9rnmxW2wQvXqMiKnhiTwk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "อุปกรณ์",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hLqygTmPd9iOV98btAtH2c9rnmxW2wQvXqMiKnhiTwk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "รหัสอุปกรณ์": "={{ $json['รหัสอุปกรณ์'] }}",
            "จำนวนคงเหลือ": "={{ Number($json['จำนวนคงเหลือ']) + 1 }}",
            "row_number": 0
          },
          "matchingColumns": [
            "รหัสอุปกรณ์"
          ],
          "schema": [
            {
              "id": "รหัสอุปกรณ์",
              "displayName": "รหัสอุปกรณ์",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ชื่ออุปกรณ์",
              "displayName": "ชื่ออุปกรณ์",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "หมวดหมู่",
              "displayName": "หมวดหมู่",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "จำนวนทั้งหมด",
              "displayName": "จำนวนทั้งหมด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "จำนวนคงเหลือ",
              "displayName": "จำนวนคงเหลือ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "สถานะ",
              "displayName": "สถานะ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "47748e40-8d80-42eb-97f4-e4e32f86d5e9",
      "name": "Update Equipment - เพิ่มจำนวน",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3040,
        -16
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CA7OsxCOPdSikM1Y",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Save ข้อมูลผู้ยืม').item.json.savedEmail }}",
        "subject": "=✅ คืนหนังสือสำเร็จ - {{ $('Save ข้อมูลผู้ยืม').item.json.savedBorrowId }}",
        "message": "=<div style='font-family:sans-serif;max-width:600px;margin:0 auto;background:#fff;border-radius:12px;overflow:hidden;border:1px solid #e5e7eb'><div style='background-color:#34c759;padding:28px 32px;text-align:center'><h1 style='color:#fff;margin:0;font-size:22px'>✅ คืนหนังสือสำเร็จ</h1></div><div style='padding:28px 32px'><p style='font-size:16px;color:#1d1d1f;margin:0 0 20px'>สวัสดีคุณ <strong>{{ $('Save ข้อมูลผู้ยืม').item.json.savedName }}</strong></p><div style='background:#f5f5f7;border-radius:10px;padding:20px;margin-bottom:24px'><table style='width:100%;font-size:14px'><tr><td style='padding:8px 0;color:#6e6e73'>รหัสยืม</td><td style='padding:8px 0;color:#007aff;font-weight:600'>{{ $('Save ข้อมูลผู้ยืม').item.json.savedBorrowId }}</td></tr><tr><td style='padding:8px 0;color:#6e6e73'>หนังสือ</td><td style='padding:8px 0'>{{ $('Filter - หาอุปกรณ์ที่ตรงกัน').item.json['ชื่ออุปกรณ์'] }}</td></tr><tr><td style='padding:8px 0;color:#6e6e73'>วันที่คืน</td><td style='padding:8px 0'>{{ $now.format('yyyy-MM-dd') }}</td></tr></table></div></div><div style='background:#f5f5f7;padding:16px 32px;text-align:center;border-top:1px solid #e5e7eb'><p style='margin:0;font-size:12px;color:#8e8e93'>Smart Lending System</p></div></div>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "3bf7978a-aab5-4bf4-bd0a-2083653eeeb4",
      "name": "Send Email - ยืนยันคืน",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3264,
        -16
      ],
      "webhookId": "cf333678-9195-4e7f-8789-85346a985797",
      "credentials": {
        "gmailOAuth2": {
          "id": "Id6o5jh4IB1t2Knx",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"คืนหนังสือสำเร็จ! ระบบอัปเดตสต็อกและส่ง Email ยืนยันแล้ว\" }",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "0673c0a2-65d2-4379-9f7f-e6f2d503a9da",
      "name": "Respond - คืนสำเร็จ",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3488,
        -16
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"message\": \"ไม่พบรหัสยืมนี้ หรือหนังสือถูกคืนแล้ว\" }",
        "options": {
          "responseCode": 404,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "5fedb779-2794-47bc-ac85-a383a78cf471",
      "name": "Respond - ไม่เจอรหัสยืม",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2160,
        240
      ]
    },
    {
      "parameters": {
        "path": "equipment",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "4cc28ae6-7549-479c-837d-bb5132cc4587",
      "name": "Webhook - Get Equipment",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1072,
        496
      ],
      "webhookId": "equipment"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hLqygTmPd9iOV98btAtH2c9rnmxW2wQvXqMiKnhiTwk",
          "mode": "list",
          "cachedResultName": "Smart Equipment Lending - Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hLqygTmPd9iOV98btAtH2c9rnmxW2wQvXqMiKnhiTwk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "อุปกรณ์",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hLqygTmPd9iOV98btAtH2c9rnmxW2wQvXqMiKnhiTwk/edit#gid=0"
        },
        "options": {}
      },
      "id": "dc11d479-aaf5-4ee0-a940-7e129324c981",
      "name": "Read Equipment Sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1280,
        496
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CA7OsxCOPdSikM1Y",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "e485e2a7-ff85-4391-920c-1ac72b58e66d",
      "name": "Respond - รายการอุปกรณ์",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1504,
        496
      ]
    },
    {
      "parameters": {
        "path": "students",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "11e547f7-e851-4141-a413-7c2a42ede919",
      "name": "Webhook - Get Students",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1072,
        688
      ],
      "webhookId": "students"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hLqygTmPd9iOV98btAtH2c9rnmxW2wQvXqMiKnhiTwk",
          "mode": "list",
          "cachedResultName": "Smart Equipment Lending - Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hLqygTmPd9iOV98btAtH2c9rnmxW2wQvXqMiKnhiTwk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1986220995,
          "mode": "list",
          "cachedResultName": "ผู้ใช้",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hLqygTmPd9iOV98btAtH2c9rnmxW2wQvXqMiKnhiTwk/edit#gid=1986220995"
        },
        "options": {}
      },
      "id": "116f8cb5-3b01-40ef-b58b-f4b7d72b6a37",
      "name": "Read Students Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1280,
        688
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CA7OsxCOPdSikM1Y",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "d7102ff8-c736-4f26-9094-5d90cb353283",
      "name": "Respond - รายการนักศึกษา",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1504,
        688
      ]
    },
    {
      "parameters": {
        "path": "borrow-history",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "7da456a9-880e-4aa4-86e6-5597b3d78d8b",
      "name": "Webhook - Get History",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1072,
        896
      ],
      "webhookId": "borrow-history"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hLqygTmPd9iOV98btAtH2c9rnmxW2wQvXqMiKnhiTwk",
          "mode": "list",
          "cachedResultName": "Smart Equipment Lending - Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hLqygTmPd9iOV98btAtH2c9rnmxW2wQvXqMiKnhiTwk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1747542314,
          "mode": "list",
          "cachedResultName": "รายการยืม",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hLqygTmPd9iOV98btAtH2c9rnmxW2wQvXqMiKnhiTwk/edit#gid=1747542314"
        },
        "options": {}
      },
      "id": "e12a4f1c-2231-4ec5-8348-79783d00db13",
      "name": "Read รายการยืม Sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1280,
        896
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CA7OsxCOPdSikM1Y",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "a3ba1584-70d9-4e94-a80e-df6912740ecc",
      "name": "Respond - ประวัติทั้งหมด",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1504,
        896
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "33f473fc-96a5-4838-a9ed-3d95d88fbd09",
      "name": "Schedule - ทุกวัน 8:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2160,
        496
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hLqygTmPd9iOV98btAtH2c9rnmxW2wQvXqMiKnhiTwk",
          "mode": "list",
          "cachedResultName": "Smart Equipment Lending - Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hLqygTmPd9iOV98btAtH2c9rnmxW2wQvXqMiKnhiTwk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1747542314,
          "mode": "list",
          "cachedResultName": "รายการยืม",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hLqygTmPd9iOV98btAtH2c9rnmxW2wQvXqMiKnhiTwk/edit#gid=1747542314"
        },
        "options": {}
      },
      "id": "4e086c60-9394-4475-853e-a338a5f92876",
      "name": "Read รายการยืม Sheet3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2384,
        496
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CA7OsxCOPdSikM1Y",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\nconst overdueItems = [];\n\nfor (const item of allItems) {\n  const status = item.json['สถานะ'];\n  const dueDate = item.json['กำหนดคืน'];\n  \n  if (status !== 'ยืมอยู่' || !dueDate || dueDate === '-') continue;\n  \n  const due = new Date(dueDate);\n  due.setHours(0, 0, 0, 0);\n  \n  if (due < today) {\n    overdueItems.push(item);\n  }\n}\n\nif (overdueItems.length === 0) {\n  return [];\n}\n\nreturn overdueItems;"
      },
      "id": "95316d26-d67d-4d88-b5a0-aa177217b09d",
      "name": "Code - หาเกินกำหนดคืน",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2608,
        496
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=⚠️ แจ้งเตือน: หนังสือเกินกำหนดคืน - {{ $json['รหัสยืม'] }}",
        "message": "=<div style='font-family:sans-serif;max-width:600px;margin:0 auto;background:#fff;border-radius:12px;overflow:hidden;border:1px solid #e5e7eb'><div style='background-color:#ff3b30;padding:28px 32px;text-align:center'><h1 style='color:#fff;margin:0;font-size:22px'>⚠️ หนังสือเกินกำหนดคืน</h1></div><div style='padding:28px 32px'><p style='font-size:16px;color:#1d1d1f;margin:0 0 20px'>สวัสดีคุณ <strong>{{ $json['ชื่อผู้ยืม'] }}</strong></p><p style='color:#6e6e73;margin:0 0 20px'>หนังสือที่คุณยืมเกินกำหนดคืนแล้ว กรุณาคืนโดยเร็ว</p><div style='background:#fff5f5;border-radius:10px;padding:20px;margin-bottom:24px;border:1px solid #fecaca'><table style='width:100%;font-size:14px'><tr><td style='padding:8px 0;color:#6e6e73'>รหัสยืม</td><td style='padding:8px 0;color:#ff3b30;font-weight:600'>{{ $json['รหัสยืม'] }}</td></tr><tr><td style='padding:8px 0;color:#6e6e73'>หนังสือ</td><td style='padding:8px 0'>{{ $json['อุปกรณ์'] }}</td></tr><tr><td style='padding:8px 0;color:#6e6e73'>กำหนดคืน</td><td style='padding:8px 0;color:#ff3b30;font-weight:700'>{{ $json['กำหนดคืน'] }}</td></tr></table></div></div><div style='background:#f5f5f7;padding:16px 32px;text-align:center;border-top:1px solid #e5e7eb'><p style='margin:0;font-size:12px;color:#8e8e93'>Smart Lending System</p></div></div>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "83f6c0ac-974d-4c9b-a5a8-29d332fb2843",
      "name": "Send Email - เตือนผู้ยืม",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2832,
        496
      ],
      "webhookId": "12ebef04-1c45-4dd9-a722-98e7ea5ce3b6",
      "credentials": {
        "gmailOAuth2": {
          "id": "Id6o5jh4IB1t2Knx",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "mrkoonking@gmail.com",
        "subject": "=📊 สรุปรายการเกินกำหนดคืน - {{ $now.format('yyyy-MM-dd') }}",
        "message": "=<div style='font-family:sans-serif;max-width:600px;margin:0 auto;background:#fff;border-radius:12px;overflow:hidden;border:1px solid #e5e7eb'><div style='background-color:#ff9500;padding:28px 32px;text-align:center'><h1 style='color:#fff;margin:0;font-size:22px'>📊 รายงานสรุปเกินกำหนด</h1><p style='color:rgba(255,255,255,0.9);margin:8px 0 0;font-size:14px'>{{ $now.format('yyyy-MM-dd') }}</p></div><div style='padding:28px 32px'><p style='font-size:16px;color:#1d1d1f;margin:0 0 20px'><strong>สรุปรายการเกินกำหนดคืน</strong></p><div style='background:#fff5f5;border-radius:10px;padding:16px;margin-bottom:20px;text-align:center'><span style='font-size:32px;font-weight:700;color:#ff3b30'>{{ $('Code - หาเกินกำหนดคืน').all().length }}</span><br><span style='font-size:13px;color:#6e6e73'>รายการเกินกำหนดทั้งหมด</span></div><table style='width:100%;border-collapse:collapse;font-size:13px;margin-bottom:20px'><tr style='background:#f9fafb'><th style='padding:10px 8px;text-align:left;border-bottom:2px solid #e5e7eb;color:#6e6e73'>รหัสยืม</th><th style='padding:10px 8px;text-align:left;border-bottom:2px solid #e5e7eb;color:#6e6e73'>รหัสนศ.</th><th style='padding:10px 8px;text-align:left;border-bottom:2px solid #e5e7eb;color:#6e6e73'>ชื่อผู้ยืม</th><th style='padding:10px 8px;text-align:left;border-bottom:2px solid #e5e7eb;color:#6e6e73'>อุปกรณ์</th><th style='padding:10px 8px;text-align:left;border-bottom:2px solid #e5e7eb;color:#6e6e73'>กำหนดคืน</th></tr>{{ $('Code - หาเกินกำหนดคืน').all().map(item => \"<tr><td style='padding:8px;border-bottom:1px solid #f3f4f6;color:#ff3b30;font-weight:600'>\" + item.json['รหัสยืม'] + \"</td><td style='padding:8px;border-bottom:1px solid #f3f4f6'>\" + item.json['รหัสนศ.'] + \"</td><td style='padding:8px;border-bottom:1px solid #f3f4f6'>\" + item.json['ชื่อผู้ยืม'] + \"</td><td style='padding:8px;border-bottom:1px solid #f3f4f6'>\" + item.json['อุปกรณ์'] + \"</td><td style='padding:8px;border-bottom:1px solid #f3f4f6;color:#ff3b30;font-weight:600'>\" + item.json['กำหนดคืน'] + \"</td></tr>\").join('') }}</table></div><div style='background:#f5f5f7;padding:16px 32px;text-align:center;border-top:1px solid #e5e7eb'><p style='margin:0;font-size:12px;color:#8e8e93'>Smart Lending System</p></div></div>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "6c723d65-4b17-435d-a749-b025b1483e52",
      "name": "Send Email - สรุปให้ Admin1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3040,
        496
      ],
      "webhookId": "7952b28a-863a-4d16-86b0-f1c75c83f27e",
      "credentials": {
        "gmailOAuth2": {
          "id": "Id6o5jh4IB1t2Knx",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Borrow": {
      "main": [
        [
          {
            "node": "Edit Fields - รับข้อมูลยืม",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields - รับข้อมูลยืม": {
      "main": [
        [
          {
            "node": "Read Equipment Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Equipment Sheet": {
      "main": [
        [
          {
            "node": "Code - ค้นหาอุปกรณ์",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - ค้นหาอุปกรณ์": {
      "main": [
        [
          {
            "node": "IF - ตรวจสอบสต็อก",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - ตรวจสอบสต็อก": {
      "main": [
        [
          {
            "node": "Read รายการยืม - นับจำนวน",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - อุปกรณ์หมด",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read รายการยืม - นับจำนวน": {
      "main": [
        [
          {
            "node": "สร้างรหัสยืม",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "สร้างรหัสยืม": {
      "main": [
        [
          {
            "node": "Append to รายการยืม",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to รายการยืม": {
      "main": [
        [
          {
            "node": "Update Equipment - ลดจำนวน",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Equipment - ลดจำนวน": {
      "main": [
        [
          {
            "node": "Send Email - ยืนยันยืม",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email - ยืนยันยืม": {
      "main": [
        [
          {
            "node": "Respond - สำเร็จ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Return": {
      "main": [
        [
          {
            "node": "Edit Fields - รับรหัสยืม",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields - รับรหัสยืม": {
      "main": [
        [
          {
            "node": "Read รายการยืม Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read รายการยืม Sheet": {
      "main": [
        [
          {
            "node": "Code - ค้นหารายการยืม",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - ค้นหารายการยืม": {
      "main": [
        [
          {
            "node": "IF - พบรายการ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - พบรายการ?": {
      "main": [
        [
          {
            "node": "Save ข้อมูลผู้ยืม",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - ไม่เจอรหัสยืม",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save ข้อมูลผู้ยืม": {
      "main": [
        [
          {
            "node": "Update รายการยืม - คืนแล้ว",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update รายการยืม - คืนแล้ว": {
      "main": [
        [
          {
            "node": "Read Equipment Sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Equipment Sheet2": {
      "main": [
        [
          {
            "node": "Filter - หาอุปกรณ์ที่ตรงกัน",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter - หาอุปกรณ์ที่ตรงกัน": {
      "main": [
        [
          {
            "node": "Update Equipment - เพิ่มจำนวน",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Equipment - เพิ่มจำนวน": {
      "main": [
        [
          {
            "node": "Send Email - ยืนยันคืน",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email - ยืนยันคืน": {
      "main": [
        [
          {
            "node": "Respond - คืนสำเร็จ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Get Equipment": {
      "main": [
        [
          {
            "node": "Read Equipment Sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Equipment Sheet1": {
      "main": [
        [
          {
            "node": "Respond - รายการอุปกรณ์",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Get Students": {
      "main": [
        [
          {
            "node": "Read Students Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Students Sheet": {
      "main": [
        [
          {
            "node": "Respond - รายการนักศึกษา",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Get History": {
      "main": [
        [
          {
            "node": "Read รายการยืม Sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read รายการยืม Sheet1": {
      "main": [
        [
          {
            "node": "Respond - ประวัติทั้งหมด",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule - ทุกวัน 8:00": {
      "main": [
        [
          {
            "node": "Read รายการยืม Sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read รายการยืม Sheet3": {
      "main": [
        [
          {
            "node": "Code - หาเกินกำหนดคืน",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - หาเกินกำหนดคืน": {
      "main": [
        [
          {
            "node": "Send Email - เตือนผู้ยืม",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email - เตือนผู้ยืม": {
      "main": [
        [
          {
            "node": "Send Email - สรุปให้ Admin1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "dcfad7ae-945d-4398-b98a-ab408ad97e58",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "16c23395182fb3336adb0b7d1ff73d04916796d72a28a7a04b9ef0f7125e176f"
  },
  "id": "OrddFEs4wXcZlZ5q",
  "tags": [
    {
      "updatedAt": "2026-04-07T13:03:25.629Z",
      "createdAt": "2026-04-07T13:03:25.629Z",
      "id": "hsOkZxpHrRM1k2zL",
      "name": "Equipment Lending"
    }
  ]
}